* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 250, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.buttons {
  height: 100px;
  width: 90%;
  background-color: blueviolet;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 32px;
  height: 32px;
  background-color: rgb(139, 133, 133);
  margin: 2px;
}
